@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff7f7d8;
  --foreground: #0a0a0a;
}

/* Dark mode setup 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fff7f7d8;
  }
}/*

/* Flex utility */
.horizontal-flex {
  @apply flex items-center space-x-2;
}

/* Button styles */
.secondary-button {
  @apply bg-transparent hover:bg-[#62cc5b] text-[#33a835] font-semibold hover:text-white py-2 px-4 border border-[#33a835] hover:border-transparent rounded;
}

.main-button {
  @apply bg-[#36bee0] hover:bg-[#41a1b9] text-white font-bold py-2 px-4 border border-[#3391a8] rounded;
}

.third-button {
  @apply bg-[#62cc5b] hover:bg-[#33a835] text-white font-bold py-2 px-4 border border-[#62cc5b] rounded;
}

/* Responsive sizing */
.small-screen {
  @apply sm:w-auto flex-shrink-0 w-auto text-sm sm:text-base px-2 py-1 sm:px-4 sm:py-2;
}

/* Hide element on small screens */
.hide {
  @apply hidden sm:inline-block;
}

.text-link {
  @apply hover:text-gray-500 transition-colors
}

/* Language select dropdown */
.language-select {
  @apply bg-[#0a2229] hover:bg-[#3f4142] text-white font-semibold py-1 px-1 border border-[#0a2229] hover:border-transparent rounded cursor-pointer appearance-none text-xs;
}

.languageOption {
  @apply text-white bg-[#0a2229] hover:bg-[#3f4142] hover:text-white text-xs;
}

/* Center content horizontally */
.center {
  @apply horizontal-flex justify-between;
}

/* Feature card */
.feature-element {
  @apply p-4 rounded-lg shadow-lg w-full max-w-xs mx-auto 
}

.no-padding {
  padding: 0 !important;
}

/* === FORM UTILITY CLASSES === */
.form-container {
  @apply w-full space-y-6;
}

.form-group {
  @apply mb-4;
}

.form-label {
  @apply block text-gray-600 text-sm mb-1;
}

.form-input {
  @apply w-full p-3 border border-gray-300 rounded focus:outline-none focus:border-[#62cc5b];
}

.form-button {
  @apply w-full p-3 bg-[#62cc5b] hover:bg-[#58a154] text-white font-medium rounded transition duration-200;
}

.form-link {
  @apply text-sm italic text-[#62cc5b] hover:underline cursor-pointer;
}

.form-title {
  @apply text-[#62cc5b] text-3xl font-bold text-center mb-2;
}

.form-subtitle {
  @apply text-[#62cc5b] text-sm text-center mb-8 cursor-pointer;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #e7e7e7; /* Background of the scrollbar track */
  border-radius: 2.5px;
}

::-webkit-scrollbar-thumb {
  background-color: #474747; /* Color of the scrollbar handle */
  border-radius: 10px;
  border: 1px solid #474747; /* Border around the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #474747;
}

.text-bg-shadow {
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6)
}

.text-bg-light-shadow {
  text-shadow: 2px 2px 6px rgba(0,0,0,0.1)
}

/* Max screen size */
.screen-size {
  height: calc(100vh - 70px);
}

body {
  color: var(--foreground);
  background: var(--background);
  /*font-family: "Roboto Mono", monospace;*/
  /* font-family: "Poppins", sans-serif; */
  font-family: "Merriweather", sans-serif;
  margin: 35px;
}

/* Custom Scrollbar for Task List */
.task-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.task-scrollbar::-webkit-scrollbar-track {
  background: #adf0f9;
  border-radius: 4px;
}

.task-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6590df;
  border-radius: 4px;
  border: 2px solid #adf0f9;
}

.task-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #5480cf;
}
