@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff7f7d8;
  --foreground: #0a0a0a;
}

/* Dark mode setup 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fff7f7d8;
  }
}/*

/* flex utility */
.horizontal-flex {
  @apply flex items-center space-x-2;
}

/* button styles */
.secondary-button {
  @apply bg-transparent hover:bg-[#62cc5b] text-[#33a835] font-semibold hover:text-white py-2 px-4 border border-[#33a835] hover:border-transparent rounded;
}

.main-button {
  @apply bg-[#36bee0] hover:bg-[#41a1b9] text-white font-bold py-2 px-4 border border-[#3391a8] rounded;
}

.third-button {
  @apply bg-[#62cc5b] hover:bg-[#33a835] text-white font-bold py-2 px-4 border border-[#62cc5b] rounded;
}

/* responsive sizing */
.small-screen {
  @apply sm:w-auto flex-shrink-0 w-auto text-sm sm:text-base px-2 py-1 sm:px-4 sm:py-2;
}

/* hide element on small screens */
.hide {
  @apply hidden sm:inline-block;
}

.text-link {
  @apply hover:text-gray-500 transition-colors
}

/* Language select dropdown */
.language-select {
  @apply bg-[#0a2229] hover:bg-[#3f4142] text-white font-semibold py-1 px-1 border border-[#0a2229] hover:border-transparent rounded cursor-pointer appearance-none text-xs;
}

.languageOption {
  @apply text-white bg-[#0a2229] hover:bg-[#3f4142] hover:text-white text-xs;
}

/* center content horizontally */
.center {
  @apply horizontal-flex justify-between;
}

/* feature card */
.feature-element {
  @apply p-4 rounded-lg shadow-lg w-full max-w-xs mx-auto 
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

/* FORM UTILITY CLASSES */
.form-container {
  @apply w-full space-y-6;
}

.form-group {
  @apply mb-4;
}

.form-label {
  @apply block text-gray-600 text-sm mb-1;
}

.form-input {
  @apply w-full p-3 border border-gray-300 rounded focus:outline-none focus:border-[#62cc5b] text-sm;
}

.form-button {
  @apply w-full p-3 bg-[#62cc5b] hover:bg-[#58a154] text-white font-medium rounded transition duration-200;
}

.form-link {
  @apply text-sm italic text-[#62cc5b] hover:underline cursor-pointer;
}

.form-title {
  @apply text-[#62cc5b] text-3xl font-bold text-center mb-2;
}

.form-subtitle {
  @apply text-[#62cc5b] text-sm text-center mb-8 cursor-pointer;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #e7e7e7; /* background of the scrollbar track */
  border-radius: 2.5px;
}

::-webkit-scrollbar-thumb {
  background-color: #474747; 
  border-radius: 10px;
  border: 1px solid #474747; 
}

/* on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #474747;
}

.text-bg-shadow {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.6)
}

.text-bg-light-shadow {
  text-shadow: 2px 2px 6px rgba(0,0,0,0.1)
}

/* max screen size */
.screen-size {
  height: calc(100vh - 70px);
}

body {
  color: var(--foreground);
  background: var(--background);
  /*font-family: "Roboto Mono", monospace;*/
  /* font-family: "Poppins", sans-serif; */
  font-family: "Merriweather", sans-serif;
  margin: 35px;
}

/*TASKSETTER SCROLL*/
.task-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.task-scrollbar::-webkit-scrollbar-track {
  background: #adf0f9;
  border-radius: 4px;
}

.task-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6590df;
  border-radius: 4px;
  border: 2px solid #adf0f9;
}

.task-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #5480cf;
}

/* Mood Range Slider Styling */
.mood-range-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  border-radius: 10px;
  background: linear-gradient(to right, #d43f2b, #bd3ed1, #e98132, #f1b234, #369b29);
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.mood-range-slider:hover {
  opacity: 1;
}

.mood-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  border: 2px solid #86e69e;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.mood-range-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  border: 2px solid #86e69e;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
